<!--DataTable With Editing Feature Starts-->
<section id="editing-DataTable" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Loyalty Points</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable #table class='bootstrap' [rows]="loyaltydisplay" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="10"></ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--DataTable With Editing Feature Ends-->
</section>