<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Settings</div>
    </div>
</div>
<div class="row" *ngIf="!showSubscription">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap">
                    <h4 class="card-title">System Configuration</h4>
                    <p class="card-subtitle">Here you can update your system configuration. Please do not make any changes unless you know what you're doing.</p>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                  <div class="px-3">
                    <form class="foprm" [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()">
                      <div class="form-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Website Name</label>
                                <input class="form-control" id="webname" formControlName="webname" placeholder="Enter Website Name" type="text">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('webname').valid && (regularForm.get('webname').dirty || regularForm.get('webname').touched)">Please enter a valid webname!</small>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Site Directory</label>
                                <input class="form-control" id="sitedir" formControlName="sitedir" placeholder="Enter Directory Name" type="text">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('sitedir').valid && (regularForm.get('sitedir').dirty || regularForm.get('sitedir').touched)">Please enter a valid sitedir!</small>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Website Email</label>
                                <input class="form-control" id="webemail" formControlName="webemail" type="email" placeholder="Enter Website Email">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('webemail').valid && (regularForm.get('webemail').dirty || regularForm.get('webemail').touched)">Please enter a valid webemail!</small>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Payment Confirmation Email</label>
                                <input class="form-control" id="payemail" formControlName="payemail" type="email" placeholder="Enter Payment Confirmation Email">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('payemail').valid && (regularForm.get('payemail').dirty || regularForm.get('payemail').touched)">Please enter valid listadmin number!</small>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Default Currency</label>
                                <input class="form-control" id="defaultcurrency" formControlName="defaultcurrency" type="text" placeholder="Enter Default Currency">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('defaultcurrency').valid && (regularForm.get('defaultcurrency').dirty || regularForm.get('defaultcurrency').touched)">Please enter a valid address!</small>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input class="form-control" id="webphone" formControlName="webphone" type="text" placeholder="Enter Phone Number">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('webphone').valid && (regularForm.get('webphone').dirty || regularForm.get('webphone').touched)">Please enter a valid address!</small>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" id="address" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('address').valid && (regularForm.get('address').dirty || regularForm.get('address').touched)">Please enter a valid address!</small>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="file">Upload Logo</label>
                              <div class="custom-file center-block d-block">
                                <input type="file" class="custom-file-input" id="companylogo" formControlName="companylogo" (change)="uploadCompanyLogo($event.target.files)">
                                <label class="custom-file-label" for="companylogo" #companylogoLabel>Choose file</label>
                               </div>
                            </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Current Subscription</label>
                                <fieldset>
                                  <div class="input-group">
                                    <input type="text" class="form-control" formControlName="subscriptionType" placeholder="Button on right" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                      <button class="btn btn-raised btn-info" type="button" (click)="change()">Change</button>
                                    </div>
                                  </div>
                                </fieldset>
                                
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('subscriptionType').valid && (regularForm.get('subscriptionType').dirty || regularForm.get('subscriptionType').touched)">Please enter a valid address!</small>
                            </div>
                          </div>
                          <div class="col-md-6" *ngIf="subscription == 'Basic'">
                            <div class="form-group">
                              <label for="pendingPeriod">Pending Trial Period</label>
                              <div class="custom-file center-block d-block">
                                <input type="text" class="form-control" id="pendingPeriod" formControlName="pendingPeriod">
                               </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="custom-control custom-checkbox m-0">
                                <input class="custom-control-input" id="registrationnotification" formControlName="registrationnotification" type="checkbox">
                                <label class="custom-control-label" for="registrationnotification">Registration Notification.</label>
                              </div>
                            </div>
                            <!-- <div class="form-group">
                                <button class="btn btn-outline-{{registrationnotification ? 'success' : 'danger'}} mb-3 mt-3" (click)="toggleRegistrationNotification()">
                                  Registration Notification - {{registrationnotification ? "ON" : "OFF"}}
                                </button>
                            </div> -->
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="custom-control custom-checkbox m-0">
                                <input class="custom-control-input" id="allowregistration" formControlName="allowregistration" type="checkbox">
                                <label class="custom-control-label" for="allowregistration">Allow Registration.</label>
                              </div>
                              </div>
                            <!-- <div class="form-group">
                                <button class="btn btn-outline-{{allowregistration ? 'success' : 'danger'}} mb-3 mt-3" (click)="toggleAllowRegistration()">
                                  Allow Registration - {{allowregistration ? "ON" : "OFF"}}
                                </button>
                            </div> -->
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="custom-control custom-checkbox m-0">
                                  <input class="custom-control-input" id="points" formControlName="points" type="checkbox">
                                  <label class="custom-control-label" for="points">Loyalty Points.</label>
                                </div>
                                </div>
                              <!-- <div class="form-group">
                                  <button class="btn btn-outline-{{points ? 'success' : 'danger'}} mb-3 mt-3" (click)="togglePoints()">
                                    Loyalty Points - {{points ? "ON" : "OFF"}}
                                  </button>
                              </div> -->
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="custom-control custom-checkbox m-0">
                                  <input class="custom-control-input" id="regverification" formControlName="regverification" type="checkbox">
                                  <label class="custom-control-label" for="regverification">Registration Verification.</label>
                                </div>
                                </div>
                              <!-- <div class="form-group">
                                  <button class="btn btn-outline-{{regverification ? 'success' : 'danger'}} mb-3 mt-3" (click)="toggleRegistrationverification()">
                                    Registration Verification - {{regverification ? "ON" : "OFF"}}
                                  </button>
                              </div> -->
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="custom-control custom-checkbox m-0">
                                <input class="custom-control-input" id="listadmin" formControlName="listadmin" type="checkbox">
                                <label class="custom-control-label" for="listadmin">If checked, users can be assinged as List Admin while creating user.</label>
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('listadmin').valid && (regularForm.get('listadmin').dirty || regularForm.get('listadmin').touched)">Please enter valid listadmin number!</small>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                            <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="showSubscription">
  <div class="col-sm-12">
    <div class="card subscription">
      <div class="card-body">
        <div class="card-block">
          <aw-wizard #wizard navBarLayout="large-empty-symbols">
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }">
                <h4 class="head text-center">Select any one of our subscription packages to upgrade your account.</h4>
                <br/>
                <div class="row" style="position: relative;bottom: 15px;transform: translate(12%,0%);">
                  <div class="col-xl-3 col-12" *ngFor="let list of subscriptionList">
                    <div class="card list gradient-mint">
                      <div class="card-body text-center">
                        <div class="px-3 py-3">
                          <div class="media text-center">
                            <div class="media-body text-center">
                              <h3>{{list.type}}</h3>
                              <span>Campaign - {{list.campaign}}</span><br />
                              <span>Members - {{list.members}}</span><br />
                              <span>{{list.validity}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="inputGroup subscription" (click)="getId(list.id,list.type)">
                        <input [id]="list.id" [(ngModel)]="subscriptionId" [value]="list.id" name="radio" type="radio"/>
                        <label for="radio1">BUY</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group text-center space-20">
                  <button type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()">Cancel</button>
                  <button type="button" class="btn btn-raised btn-info" (click)="onSave()">Save</button>
                </div>                  
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>