<section class="basic-elements">
	<div class="row">
	    <div class="col-md-6">
	        <div class="content-header">Renewals</div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title-wrap bar-success">
						<button type="button" class="btn btn-danger btn-raised" (click)="recRenewal()" style="margin-right: 14px;">Recent Renewal</button>
    					<button type="button" class="btn btn-success btn-raised" (click)="pendRenewal()">Pending Renewal</button>
					</div>
					<div class="card-body">
	                    <div class="card-block">
	                    	<!-- <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="10">
                            </ngx-datatable> -->
	                        <table class="table table-responsive-sm">
	                            <thead>
	                                <tr>
	                                    <th>Transaction ID</th>
	                                    <th>User Name</th>
	                                    <th>Membership Plan</th>
	                                    <th>Expiry Date</th>
	                                    <th>Action</th>
	                                </tr>
	                            </thead>
	                            <tbody *ngIf="recentRenewal">
	                                <tr *ngFor="let data of renewals">
	                                    <td>{{data.transaction_id}}</td>
	                                    <td>{{data.name}}</td>
	                                    <td>{{data.plans}}</td>
	                                    <td>{{data.expire_date}}</td>
	                                    <td></td>
	                                </tr>
	                            </tbody>
	                            <tbody *ngIf="pendingRenewal">
	                                <tr *ngFor="let data of pendingRenewals">
	                                    <td>{{data.transaction_id}}</td>
	                                    <td>{{data.name}}</td>
	                                    <td>{{data.plans}}</td>
	                                    <td>{{data.expire_date}}</td>
	                                    <td>
	                                    	<a (click)="sendEmail(data.id, data.email, data.name, data.plans, data.expire_date)" *ngIf="!sentEmail && (data.sentMail == 0)">Remind User</a>
		          							<a *ngIf="sentEmail || (data.sentMail == 1)">Notified User</a>
	                                    </td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
                	</div>
				</div>
			</div>
		</div>
	</div>
</section>