<!--Theme customizer Starts-->
<div class="customizer border-left-blue-grey border-left-lighten-4 d-none d-sm-none d-md-block">
	<a class="customizer-close">
		<i class="ft-x font-medium-3"></i>
	</a>
	<a class="customizer-toggle bg-danger" id="customizer-toggle-icon">
		<i class="ft-settings font-medium-4 fa fa-spin white align-middle"></i>
	</a>
	<div class="customizer-content p-3 ps-container ps-theme-dark" data-ps-id="df6a5ce4-a175-9172-4402-dabd98fc9c0a">
		<h4 class="mb-0 text-bold-400">Theme Customizer</h4>
		<p>Customize &amp; Preview in Real Time</p>
		<hr>

		<!--Sidebar Background Image Starts-->
		<h6 class="text-center text-bold-500 mb-3 text-uppercase">Sidebar Background Image</h6>
		<div class="cz-bg-image row">
			<div class="col mb-3">
				<img src="assets/img/sidebar-bg/01.jpg" class="rounded box-shadow-2" width="50" height="100">
			</div>
			<div class="col mb-3">
				<img src="assets/img/sidebar-bg/02.jpg" class="rounded box-shadow-2" width="50" height="100">
			</div>
			<div class="col mb-3">
				<img src="assets/img/sidebar-bg/03.jpg" class="rounded box-shadow-2" width="50" height="100">
			</div>
			<div class="col mb-3">
				<img src="assets/img/sidebar-bg/04.jpg" class="rounded box-shadow-2" width="50" height="100">
			</div>
			<div class="col mb-3">
				<img src="assets/img/sidebar-bg/05.jpg" class="rounded box-shadow-2" width="50" height="100">
			</div>
			<div class="col mb-3">
				<img src="assets/img/sidebar-bg/06.jpg" class="rounded box-shadow-2" width="50" height="100">
			</div>
			<div class="col mb-3">
				<img src="assets/img/sidebar-bg/07.jpg" class="rounded box-shadow-2" width="50" height="100">
			</div>
			<div class="col mb-3">
				<img src="assets/img/sidebar-bg/08.jpg" class="rounded box-shadow-2" width="50" height="100">
			</div>
		</div>
		<!--Sidebar Background Image Ends-->

		<!--Sidebar BG Image Toggle Starts-->
		<div class="togglebutton mt-2">
			<div>
				<span class="text-bold-400">Show / Hide Sidebar Bg Image</span>
				<div class="float-right">
					<ui-switch size="small" checked class="cz-bg-image-display" id="sidebar-bg-img" switchColor="#FF4961" color="white" (change)="onChange($event)"></ui-switch>
				</div>
			</div>
		</div>
		<!--Sidebar BG Image Toggle Ends-->

		<hr>

		<!--Sidebar Options Starts-->
		<h6 class="text-center text-bold-500 mb-3 text-uppercase">Sidebar Color Options</h6>
		<div class="cz-bg-color">
			<div class="row p-1">
				<div class="col mb-3">
					<span class="gradient-aqua-marine d-block rounded box-shadow-2" style="width:50px; height:100px;" data-bg-color="aqua-marine"></span>
				</div>
				<div class="col mb-3">
					<span class="gradient-sublime-vivid d-block rounded box-shadow-2" style="width:50px; height:100px;" data-bg-color="sublime-vivid"></span>
				</div>
				<div class="col mb-3">
					<span class="gradient-crystal-clear d-block rounded box-shadow-2" style="width:50px; height:100px;" data-bg-color="crystal-clear"></span>
				</div>
				<div class="col mb-3">
					<span class="gradient-timber d-block rounded box-shadow-2" style="width:50px; height:100px;" data-bg-color="timber"></span>
				</div>
			</div>
			<div class="row p-1">
				<div class="col mb-3">
					<span class="bg-black d-block rounded box-shadow-2" style="width:50px; height:100px;" data-bg-color="black"></span>
				</div>
				<div class="col mb-3">
					<span class="bg-white d-block rounded box-shadow-2" style="width:50px; height:100px;" data-bg-color="white"></span>
				</div>
				<div class="col mb-3">
					<span class="bg-primary d-block rounded box-shadow-2" style="width:50px; height:100px;" data-bg-color="primary"></span>
				</div>
				<div class="col mb-3">
					<span class="bg-danger d-block rounded box-shadow-2" style="width:50px; height:100px;" data-bg-color="danger"></span>
				</div>
			</div>
		</div>
		<!--Sidebar Options Ends-->
		<hr>


		<!--Compact Menu Starts-->
		<div class="togglebutton">
			<div>
				<span class="text-bold-400">Compact Menu</span>
				<div class="float-right">
					<ui-switch size="small" class="cz-compact-menu" id="cz-compact-menu" switchColor="#FF4961" color="white"></ui-switch>
				</div>
			</div>
		</div>
		<!--Compact Menu Ends-->
		<hr>

		<!--Sidebar Width Starts-->
		<div>
			<label for="cz-sidebar-width" class="text-bold-400">Sidebar Width</label>
			<select id="cz-sidebar-width" class="custom-select cz-sidebar-width float-right">
				<option value="small">Small</option>
				<option value="medium" selected>Medium</option>
				<option value="large">Large</option>
			</select>
		</div>
		<!--Sidebar Width Ends-->
	</div>
</div>
<!--Theme customizer Ends-->