<!--Forgot Password Starts-->
<section id="forgot-password">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center gradient-aqua-marine">
                <div class="card p-4 box-shadow-2">
                    <div class="card-header text-center">
                        <img src="assets/img/logos/logo-color-big.png" alt="company-logo" class="mb-3" width="80">
                        <h4 class="text-uppercase text-bold-400 grey darken-1">Forgot Password</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <form [formGroup]="forogtPasswordForm" novalidate>
                              <div style="color:green;" *ngIf="success">Password reset was Successfull. Mail has been sent to your Email.<br/><br/></div>
                              <div style="color:red;" *ngIf="failed">Error while Resetting password. Please try later.<br/><br/></div>
                              <div style="color:red;" *ngIf="error">Please Enter correct Email.<br/><br/></div>
                                <div class="form-group">
                                  <input type="email" class="form-control form-control-lg" formControlName="inputEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email">
                                  <small *ngIf="!forogtPasswordForm.get('inputEmail').valid && (forogtPasswordForm.get('inputEmail').dirty || forogtPasswordForm.get('inputEmail').touched)" class="form-text text-muted danger">
                                      <small *ngIf="forogtPasswordForm.get('inputEmail').errors.required">Email is required</small>
                                      <small *ngIf="forogtPasswordForm.get('inputEmail').errors.pattern">Enter a valid Email address!</small>
                                  </small>
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger btn-raised px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0" [disabled]="!forogtPasswordForm.valid" (click)="onSubmit()">Reset Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer grey darken-1">
                            <div class="float-left"><a (click)="onLogin()">Login</a></div>
                            <div class="float-right">New User? <a (click)="onRegister()">Register Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Ends-->
