.social-icon-round{
  height: 100px;
  overflow-y: auto;
}
.selectedClass{
  background-color: #666ee8;
  color: #ffffff !important;
}
.UnselectedClass{
  background-color: #ffffff ;
  color: #000000 !important;
}
