<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Add User</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <!-- <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title">Regular Form (Reactive Form)</h4>
                </div>
            </div> -->
            <div class="card-body">
                <div class="card-block">
                    <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                        <small class="form-text text-muted danger" *ngIf="usernameerror">Username Already Exits.<br/><br/></small>
                        <small class="form-text text-muted danger" *ngIf="emailerror">Email Already Exits.<br/><br/></small>
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" id="username" formControlName="username" placeholder="Enter Username" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('username').valid && (regularForm.get('username').dirty || regularForm.get('username').touched)">Please enter a valid username!</small>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" id="password" formControlName="password" placeholder="Enter Password" type="password">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Please enter a valid password!</small>
                        </div>

                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('firstName').valid && (regularForm.get('firstName').dirty || regularForm.get('firstName').touched)">Please enter a valid firstName!</small>
                        </div>

                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Last Name" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('lastName').valid && (regularForm.get('lastName').dirty || regularForm.get('lastName').touched)">Please enter a valid lastName!</small>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" id="email" formControlName="email" placeholder="Enter Email" type="email">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Please enter a valid email!</small>
                        </div>

                        <div class="form-group">
                            <label>DOB</label>
                            <input class="form-control" id="dob" formControlName="dob" type="date">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('dob').valid && (regularForm.get('dob').dirty || regularForm.get('dob').touched)">Please enter a valid dob!</small>
                        </div>

                        <div class="form-group">
                            <label class>Gender</label>
                            <div class="custom-control custom-radio display-block">
                                <input type="radio" id="genderRadios1"  value="Female" name="genderRadios" class="custom-control-input">
                                <label class="custom-control-label" for="genderRadios1">Female</label>
                            </div>
                            <div class="custom-control custom-radio display-block">
                                <input type="radio" id="genderRadios2" value="Male" name="genderRadios" class="custom-control-input">
                                <label class="custom-control-label" for="genderRadios2">Male</label>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('genderRadios').valid && (regularForm.get('genderRadios').dirty || regularForm.get('genderRadios').touched)">Please choose Gender!</small>
                        </div>

                        <div class="form-group">
                            <label>Phone</label>
                            <input class="form-control" id="phone" formControlName="phone" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('phone').valid && (regularForm.get('phone').dirty || regularForm.get('phone').touched)">Please enter valid phone number!</small>
                        </div>

                        <div class="form-group">
                            <label>Subscriber List</label>
                            <select class="form-control" id="sublist" formControlName="sublist">
                                <option selected>Select List</option>
                                <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                            </select>
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('sublist').valid && (regularForm.get('sublist').dirty || regularForm.get('sublist').touched)">Please enter valid phone number!</small>
                        </div>

                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control" id="address" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('address').valid && (regularForm.get('address').dirty || regularForm.get('address').touched)">Please enter a valid address!</small>
                        </div>
                        <div class="form-group" *ngIf="isSuperAdmin">
                            <label for="role">Role</label>
                            <select class="form-control" id="role" formControlName="role">
                                <option disabled="true">Select Role</option>
                                <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                            </select>
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('role').valid && (regularForm.get('role').dirty || regularForm.get('role').touched)">Please select a role!</small>
                        </div>

                        <div class="form-group" *ngIf="isSuperAdmin">
                            <label for="organization">Organization</label>
                            <select class="form-control" id="organization" formControlName="organization">
                                <option disabled="true">Select Organization</option>
                                <option *ngFor="let organization of organizations" value="{{organization.id}}">{{organization.name}}</option>
                            </select>
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('organization').valid && (regularForm.get('organization').dirty || regularForm.get('organization').touched)">Please select an organization!</small>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                            <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid || submitted">Submit <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                        </div>
                    </form>

                    <!-- <form [formGroup]="regularForm1" (ngSubmit)="onReactiveFormSubmit()" novalidate *ngIf="isSuperAdmin">
                        <small class="form-text text-muted danger" *ngIf="usernameerror">Username Already Exits.<br/><br/></small>
                        <small class="form-text text-muted danger" *ngIf="emailerror">Email Already Exits.<br/><br/></small>
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" id="username" formControlName="username" placeholder="Enter Username" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('username').valid && (regularForm1.get('username').dirty || regularForm1.get('username').touched)">Please enter a valid username!</small>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" id="password" formControlName="password" placeholder="Enter Password" type="password">
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('password').valid && (regularForm1.get('password').dirty || regularForm1.get('password').touched)">Please enter a valid password!</small>
                        </div>

                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('firstName').valid && (regularForm1.get('firstName').dirty || regularForm1.get('firstName').touched)">Please enter a valid firstName!</small>
                        </div>

                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Last Name" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('lastName').valid && (regularForm1.get('lastName').dirty || regularForm1.get('lastName').touched)">Please enter a valid lastName!</small>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" id="email" formControlName="email" placeholder="Enter Email" type="email">
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('email').valid && (regularForm1.get('email').dirty || regularForm1.get('email').touched)">Please enter a valid email!</small>
                        </div>

                        <div class="form-group">
                            <label>DOB</label>
                            <input class="form-control" id="dob" formControlName="dob" type="date">
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('dob').valid && (regularForm1.get('dob').dirty || regularForm1.get('dob').touched)">Please enter a valid dob!</small>
                        </div>

                        <div class="form-group">
                            <label class>Gender</label>
                            <div class="custom-control custom-radio display-block">
                                <input type="radio" id="genderRadios1"  value="F" name="genderRadios" class="custom-control-input">
                                <label class="custom-control-label" for="genderRadios1">Female</label>
                            </div>
                            <div class="custom-control custom-radio display-block">
                                <input type="radio" id="genderRadios2" value="M" name="genderRadios" class="custom-control-input">
                                <label class="custom-control-label" for="genderRadios2">Male</label>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('genderRadios').valid && (regularForm1.get('genderRadios').dirty || regularForm1.get('genderRadios').touched)">Please choose Gender!</small>
                        </div>

                        <div class="form-group">
                            <label>Phone</label>
                            <input class="form-control" id="phone" formControlName="phone" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('phone').valid && (regularForm1.get('phone').dirty || regularForm1.get('phone').touched)">Please enter valid phone number!</small>
                        </div>

                        <div class="form-group">
                            <label>Subscriber List</label>
                            <select class="form-control" id="sublist" formControlName="sublist">
                                <option disabled="true">Select Subscriber</option>
                                <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                            </select>
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('sublist').valid && (regularForm1.get('sublist').dirty || regularForm1.get('sublist').touched)">Please select a Subscriber!</small>
                        </div>

                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control" id="address" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('address').valid && (regularForm1.get('address').dirty || regularForm1.get('address').touched)">Please enter a valid address!</small>
                        </div>

                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" id="role" formControlName="role">
                                <option disabled="true">Select Role</option>
                                <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                            </select>
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('role').valid && (regularForm1.get('role').dirty || regularForm1.get('role').touched)">Please select a role!</small>
                        </div>

                        <div class="form-group">
                            <label for="organization">Organization</label>
                            <select class="form-control" id="organization" formControlName="organization">
                                <option disabled="true">Select Organization</option>
                                <option *ngFor="let organization of organizations" value="{{organization.id}}">{{organization.name}}</option>
                            </select>
                            <small class="form-text text-muted danger" *ngIf="!regularForm1.get('organization').valid && (regularForm1.get('organization').dirty || regularForm1.get('organization').touched)">Please select an organization!</small>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                            <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm1.valid">Submit</button>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
