<section id="user-area">
    <div class="row">
        <div class="col-xl-3 col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-title-wrap bar-primary">
                        <div class="card-title">Personal Information</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="align-self-center halfway-fab text-center">
                            <a class="profile-image">
                                <img src="{{user.profileImage}}" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
                            </a>
                        </div>
                        <div class="text-center">
                            <span class="font-medium-2 text-uppercase">{{ user.name }}</span>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <ul class="no-list-style pl-0 text-center">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> Birthday:</a></span>
                                        <span class="display-block overflow-hidden">{{user.dob}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> Lives in:</a></span>
                                        <span class="display-block overflow-hidden">{{user.address}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Gender:</a></span>
                                        <span class="display-block overflow-hidden">{{user.gender}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Email:</a></span>
                                        <a class="display-block overflow-hidden">{{user.email}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-6">
                                <ul class="no-list-style pl-0 text-center">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Phone Number:</a></span>
                                        <span class="display-block overflow-hidden">{{user.phone}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> List Subscription:</a></span>
                                        <a class="display-block overflow-hidden">{{user.listName}}</a>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-briefcase font-small-3"></i> Membership Tire:</a></span>
                                        <span class="display-block overflow-hidden">{{user.membership}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-book font-small-3"></i> Joined:</a></span>
                                        <span class="display-block overflow-hidden">{{user.joined | date}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-title-wrap bar-danger">
                        <div class="card-title">Hobbies</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center" *ngFor="let hobbie of hobbies"> <i class="danger font-medium-3" [ngClass]="hobbie.icon"></i> <div class="mt-1">{{hobbie.name}}</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-speedometer danger font-medium-3"></i> <div class="mt-1">Driving</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-camera danger font-medium-3"></i> <div class="mt-1">Photography</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-game-controller danger font-medium-3"></i> <div class="mt-1">Gaming</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-music-tone-alt danger font-medium-3"></i> <div class="mt-1">Music</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="ft-monitor danger font-medium-3"></i> <div class="mt-1">Surfing</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="ft-pie-chart danger font-medium-3"></i> <div class="mt-1">Foodie</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="ft-tv danger font-medium-3"></i> <div class="mt-1">TV</div></span>
                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-basket-loaded danger font-medium-3"></i> <div class="mt-1">Shopping</div></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-12">
            <!--About div starts-->
            <div id="about">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12">
                      <div class="card gradient-orange-amber">
                        <div class="card-body">
                          <div class="px-3 py-3">
                            <div class="media">
                              <div class="align-center">
                                <i class="icon-users text-white font-large-2 float-left"></i>
                              </div>
                              <div class="media-body text-white text-right">
                                <h3 class="text-white">${{details.price}}</h3>
                                <span>{{details.plans}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                      <div class="card gradient-light-blue-cyan">
                        <div class="card-body">
                          <div class="px-3 py-3">
                            <div class="media">
                              <div class="align-center">
                                <i class="icon-present text-white font-large-2 float-left"></i>
                              </div>
                              <div class="media-body text-white text-right">
                                <h3 class="text-white">{{details.points}}</h3>
                                <span>Loyalty Points</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                      <div class="card gradient-red-pink">
                        <div class="card-body">
                          <div class="px-3 py-3">
                            <div class="media">
                              <div class="align-center">
                                <i class="icon-envelope text-white font-large-2 float-left"></i>
                              </div>
                              <div class="media-body text-white text-right">
                                <h3 class="text-white">{{details.newsletterCount}}</h3>
                                <span>Newsletters</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                      <div class="card gradient-mint">
                        <div class="card-body">
                          <div class="px-3 py-3">
                            <div class="media">
                              <div class="align-center">
                                <i class="icon-envelope-open text-white font-large-2 float-left"></i>
                              </div>
                              <div class="media-body text-white text-right">
                                <h3 class="text-white">{{details.name}}</h3>
                                <span>Latest Newsletter</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-warning">
                                    <div class="card-title">Latest Newsletter - {{details.name}} On {{details.dateTime | date}}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                    <p>Subject : {{details.subject}}</p>
                                    <div class="card-block newsletter" [innerHTML]="details.message">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!--About div ends-->

            <!--User Timeline div starts-->
            <div id="timeline">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-primary">
                            <div class="card-title">User Timeline</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="timeline">
                                <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">Newsletters</div>
                                <ul class="list-unstyled base-timeline activity-timeline">

                                    <li class="" *ngFor="let timeLine of timeLines">
                                        <div class="timeline-icon bg-primary" *ngIf="timeLine.type == 'newsletter'">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="act-time" *ngIf="timeLine.type == 'newsletter'">{{timeLine.dateTime}}</div>
                                        <div class="base-timeline-info" *ngIf="timeLine.type == 'newsletter'">
                                            <a href="#" class="text-uppercase text-primary">{{timeLine.name}}</a>
                                            <span class="d-block">{{timeLine.description}}</span>
                                        </div>
                                    </li>
                                </ul>

                                <br>

                                <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">Loyalty Points Redeemed</div>
                                <ul class="list-unstyled base-timeline activity-timeline">

                                    <li class="" *ngFor="let timeLine of timeLines">
                                        <div class="timeline-icon bg-primary" *ngIf="timeLine.type == 'loyalty'">
                                            <i class="fa fa-gift"></i>
                                        </div>
                                        <div class="act-time" *ngIf="timeLine.type == 'loyalty'">{{timeLine.dateTime}}</div>
                                        <div class="base-timeline-info" *ngIf="timeLine.type == 'loyalty'">
                                            <a href="#" class="text-uppercase text-primary">{{timeLine.name}}</a>
                                            <span class="d-block">{{timeLine.description}}</span>
                                        </div>
                                    </li>
                                </ul>

                                <!--<br>

                                <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">February 2018</div>
                                <ul class="list-unstyled base-timeline activity-timeline">

                                    <li class="">
                                        <div class="timeline-icon bg-purple">
                                            <i class="fa fa-tasks"></i>
                                        </div>
                                        <div class="act-time">15 February</div>
                                        <div class="base-timeline-info">
                                            <a href="#" class="text-uppercase text-purple">Task Added</a>
                                            <span class="d-block">You have added task #06 Successfully to the project “Convex”</span>
                                        </div>
                                        <small class="text-muted">
                                            1 month ago
                                        </small>
                                    </li>
                                    <li class="">
                                        <div class="timeline-icon bg-danger">
                                            <i class="fa fa-calendar-o"></i>
                                        </div>
                                        <div class="act-time">06 February</div>
                                        <div class="base-timeline-info">
                                            <a href="#" class="text-uppercase text-danger">Event Created</a>
                                            <span class="d-block">Final deal with Geekslabs Company is done and added to the “New deal” list</span>
                                        </div>
                                        <small class="text-muted">
                                            1 month ago
                                        </small>
                                    </li>
                                </ul>
                                <br> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--User Timeline div ends-->
        </div>
    </div>
</section>
