<section id="paging" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Users Subscription</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <div class="card-title-wrap bar-info">
                    <select class="form-control" (change)="selectUser($event.target.value)">
                        <option selected value="">Select List</option>
                        <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                    	<table class="table table-responsive-md text-center">
                    		<thead>
                    			<tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>List Name</th>
                            <th>Subscribed On</th>
                            <th>Subscribed Status</th>
                    			</tr>
                       		</thead>
                       		<tbody>
                            <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: p }">
                                <td>{{user.FirstName}}</td>
                                <td>{{user.LastName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.address}}</td>
                                <td>{{user.listname}}</td>
                                <td>{{user.date}}</td>
                                <td *ngIf="user.status == true">Subscribed</td>
                                <td *ngIf="user.status == false">Unsubscribed</td>
                            </tr>
                       		</tbody>
                    	</table>
                        <div class="col-12 paginationonAction">
                            <span class="total">{{collectionSize}} Total</span>
                            <ngb-pagination *ngIf="users && users.length > 5" [pageSize]="pageSize" [(page)]="p" [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
