<section class="basic-elements">
	<div class="row">
	    <div class="col-md-6">
	        <div class="content-header">Reports</div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title-wrap bar-success">
						<p>{{reportCount}} Reports</p>
					</div>
					<div class="card-body">
	                    <div class="card-block">
	                    	<ngx-datatable class="material" class="bootstrap" [rows]="reportDetails" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: 'date', dir: 'desc'}]" [limit]="10">
			                    <ngx-datatable-column name="Status">
			                        <ng-template let-row="row" ngx-datatable-cell-template>
			                            {{row.status}}
			                        </ng-template>
			                    </ngx-datatable-column>
			                    <ngx-datatable-column name="Newsletter Name">
			                        <ng-template let-row="row" ngx-datatable-cell-template>
			                            {{row.name}}
			                        </ng-template>
			                    </ngx-datatable-column>
			                    <ngx-datatable-column name="Newsletter Sent">
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.sent}}
									</ng-template>
			                    </ngx-datatable-column>
			                    <ngx-datatable-column name="Open Rate">
			                        <ng-template let-row="row" ngx-datatable-cell-template>
			                            {{row.openRate}}
			                        </ng-template>
			                    </ngx-datatable-column>
			                    <ngx-datatable-column name="Bounce Rate">
			                        <ng-template let-row="row" ngx-datatable-cell-template>
			                            {{row.bounceRate}}
			                        </ng-template>
			                    </ngx-datatable-column>
			                    <ngx-datatable-column name="Click Through rate">
			                        <ng-template let-row="row" ngx-datatable-cell-template>
			                            {{row.linkRate}}
			                        </ng-template>
			                    </ngx-datatable-column>
			                    <ngx-datatable-column name="Last Sent">
			                        <ng-template let-row="row" ngx-datatable-cell-template>
			                            {{row.date | date: 'MM/dd/yyyy'}}
			                        </ng-template>
			                    </ngx-datatable-column>
			                    <ngx-datatable-column name="Statistics">
			                        <ng-template let-row="row" ngx-datatable-cell-template>
			                            <a class="success p-0" (click)="redirect(row.id);"><i class="icon-bar-chart"></i></a>
			                        </ng-template>
			                    </ngx-datatable-column>
			                </ngx-datatable>
	                    	<!-- <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="10"></ngx-datatable> -->
	                        <!-- <table class="table table-responsive-sm">
	                            <thead>
	                                <tr>
	                                    <th>Status</th>
	                                    <th>Newsletter Name</th>
	                                    <th>Newsletter Sent</th>
	                                    <th>Open Rate</th>
	                                    <th>Bounce Rate</th>
	                                    <th>Click Through rate</th>
	                                    <th>Last Sent</th>
										<th></th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr *ngFor="let reportData of reportData">
	                                    <td>{{reportData.status}}</td>
	                                    <td>{{reportData.name}}</td>
	                                    <td>{{reportData.sent}}</td>
                        				<td>{{reportData.openRate}}</td>
	                                    <td>{{reportData.bounceRate}}</td>
	                                    <td>{{reportData.linkRate}}</td>
	                                    <td>{{reportData.date}}</td>
										<td><a class="success p-0" (click)="redirect(reportData.id);"><i class="icon-bar-chart"></i></a></td>
	                                </tr>
	                            </tbody>
	                        </table> -->
	                    </div>
                	</div>
				</div>
			</div>
		</div>
	</div>
</section>