<section id="editing-DataTable" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Add Loyalty</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <form [formGroup]="loyaltyform" novalidate>
                        <div class="form-group">
                            <label for="name">Name</label>

                            <input type="text" class="form-control" id="name" formControlName="name" required>
                            <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('name').valid && (loyaltyform.get('name').dirty || loyaltyform.get('name').touched)">Name is required!</small>
                        </div>
                        <div class="form-group">
                            <label for="points">Points</label>
                            <input type="number" class="form-control" id="points" formControlName="points" required>
                            <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('points').valid && (loyaltyform.get('points').dirty || loyaltyform.get('points').touched)">Points are required!</small>
                        </div>
                        <div class="form-group">
                            <label for="expiryDate">Expiry Date</label>
                            <input type="date" id="expiryDate" class="form-control" formControlName="expiryDate" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
                            <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('expiryDate').valid && (loyaltyform.get('expiryDate').dirty || loyaltyform.get('expiryDate').touched)">Expiry Date is required!</small>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-success btn-raised mr-1" (click)="onloyalty()" [disabled]="!loyaltyform.valid">Add Loyalty</button>
                            <button type="button" class="btn btn-danger btn-raised" (click)="cancel()">Cancel</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>