<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Edit User</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-2">
                            <a class="profile-image">
                                <img [src]="userImage" class="rounded-circle img-border gradient-summer width-200" alt="Card image">
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <ul style="list-style: none !important;">
                                <li class="text-uppercase font-medium-3">{{user.name}}</li>
                                <li><i class="fas fa-mobile-alt"></i> {{user.phone}}</li>
                                <li><i class="fas fa-location-arrow"></i> {{user.address}}</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>
                    </div>
                    <ngb-tabset>
                        <ngb-tab title="Overview">
                            <ng-template ngbTabContent>
                                <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input class="form-control" id="username" formControlName="username" placeholder="Enter Username" type="text">
                                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('username').valid && (regularForm.get('username').dirty || regularForm.get('username').touched)">Please enter a valid username!</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input class="form-control" id="password" formControlName="password" placeholder="Enter Password" type="password">
                                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Please enter a valid password!</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name" type="text">
                                        <small class="form-text text-muted danger" *ngIf="!regularForm.get('firstName').valid && (regularForm.get('firstName').dirty || regularForm.get('firstName').touched)">Please enter a valid firstName!</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Last Name" type="text">
                                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('lastName').valid && (regularForm.get('lastName').dirty || regularForm.get('lastName').touched)">Please enter a valid lastName!</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input class="form-control" id="email" formControlName="email" placeholder="Enter Email" type="email">
                                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Please enter a valid email!</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>DOB</label>
                                                <input class="form-control" id="dob" formControlName="dob" type="date">
                                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('dob').valid && (regularForm.get('dob').dirty || regularForm.get('dob').touched)">Please enter a valid dob!</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class>Gender</label>
                                                <div class="custom-control custom-radio display-block">
                                                    <input type="radio" id="genderRadios1" [checked]="gender == 'Female'" value="Female" name="genderRadios" class="custom-control-input">
                                                    <label class="custom-control-label" for="genderRadios1">Female</label>
                                                </div>
                                                <div class="custom-control custom-radio display-block">
                                                    <input type="radio" id="genderRadios2" [checked]="gender == 'Male'" value="Male" name="genderRadios" class="custom-control-input">
                                                    <label class="custom-control-label" for="genderRadios2">Male</label>
                                                </div>
                                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('genderRadios').valid && (regularForm.get('genderRadios').dirty || regularForm.get('genderRadios').touched)">Please choose Gender!</small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                <input class="form-control" id="phone" formControlName="phone" type="text">
                                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('phone').valid && (regularForm.get('phone').dirty || regularForm.get('phone').touched)">Please enter valid phone number!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input class="form-control" id="address" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                                        <small class="form-text text-muted danger" *ngIf="!regularForm.get('address').valid && (regularForm.get('address').dirty || regularForm.get('address').touched)">Please enter a valid address!</small>
                                    </div>
                                    <div class="form-group">
                                        <!-- <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button> -->
                                        <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid || submitted">Submit <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                                    </div>
                                </form>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="List Memberships">
                            <ng-template ngbTabContent>
                                <p class="font-large-1">List Subscription By {{user.name}}</p>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-block">
                                            <!-- <form (ngSubmit)="editSubscription()"> -->
                                                <div class="row" *ngFor="let list of listSub">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Subscribed To {{list.list}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <ui-switch [(ngModel)]="list.subscribe" (ngModelChange)="unsubscribe($event, list.subid)"></ui-switch>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Loyalty Points">
                            <ng-template ngbTabContent>
                                <p class="font-large-1">Loyaty Points Redeemed By {{user.name}}</p>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-block">
                                            <ngx-datatable class="material" class="bootstrap" [rows]="loyaltyPointDisplay" [columns]="loyaltyPointsColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: ['loyalty', 'points_redeemed', 'remaining_points', 'redeemed_on'], dir: 'desc'}]" [limit]="10">
                                                <ngx-datatable-column name="Loyalty">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{row.loyalty}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Redeemed Points">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{row.points_redeemed}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Remaining Points">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                            {{row.remaining_points}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Redeemed On">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{row.redeemed_on | date: 'MM/dd/yyyy'}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-block">
                                            <p class="font-large-1">Loyaty Points Earned By {{user.name}}</p>
                                            <ngx-datatable class="material" class="bootstrap" [rows]="loyaltyPointEarned" [columns]="loyaltyPointsEarnedColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: ['loyalty', 'points_redeemed', 'remaining_points', 'redeemed_on'], dir: 'desc'}]" [limit]="10">
                                                <ngx-datatable-column name="Loyalty">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{row.loyalty}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Points Earned">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{row.points}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column name="Transaction Id">
                                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                                        {{row.points}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Transactions">
                            <ng-template ngbTabContent>
                                <p class="font-large-1">Transaction Of {{user.name}}</p>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-block">
                                            <ngx-datatable #table class='bootstrap' [columns]="transactionColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"></ngx-datatable>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="display: none;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" id="username" formControlName="username" placeholder="Enter Username" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('username').valid && (regularForm.get('username').dirty || regularForm.get('username').touched)">Please enter a valid username!</small>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" id="password" formControlName="password" placeholder="Enter Password" type="password">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Please enter a valid password!</small>
                        </div>

                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('firstName').valid && (regularForm.get('firstName').dirty || regularForm.get('firstName').touched)">Please enter a valid firstName!</small>
                        </div>

                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Last Name" type="text">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('lastName').valid && (regularForm.get('lastName').dirty || regularForm.get('lastName').touched)">Please enter a valid lastName!</small>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" id="email" formControlName="email" placeholder="Enter Email" type="email">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Please enter a valid email!</small>
                        </div>

                        <div class="form-group">
                            <label>DOB</label>
                            <input class="form-control" id="dob" formControlName="dob" type="date">
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('dob').valid && (regularForm.get('dob').dirty || regularForm.get('dob').touched)">Please enter a valid dob!</small>
                        </div>

                        <div class="form-group">
                            <label class>Gender</label>
                            <div class="custom-control custom-radio display-block">
                                <input type="radio" id="genderRadios1" checked="{{gender == 'F'}}" value="Female" name="genderRadios" class="custom-control-input">
                                <label class="custom-control-label" for="genderRadios1">Female</label>
                            </div>
                            <div class="custom-control custom-radio display-block">
                                <input type="radio" id="genderRadios2" checked="{{gender == 'M'}}" value="Male" name="genderRadios" class="custom-control-input">
                                <label class="custom-control-label" for="genderRadios2">Male</label>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('genderRadios').valid && (regularForm.get('genderRadios').dirty || regularForm.get('genderRadios').touched)">Please choose Gender!</small>
                        </div>

                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control" id="address" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                            <small class="form-text text-muted danger" *ngIf="!regularForm.get('address').valid && (regularForm.get('address').dirty || regularForm.get('address').touched)">Please enter a valid address!</small>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                            <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid || submitted">Submit <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
