<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Subscription</div>
    </div>
</div>
<section id="ngx">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
                <form  [formGroup]="personalForm" class="editForm" novalidate>
                            <!-- <h4 class="head text-center">Select the type of Subscription</h4>
                            <br/> -->
                            <div class='row'>
                                <div class='col-12'>
                                	<div class="form-group">
                                        <label class="form-control-label" for="type">Subscription Type</label>
                                        <input class="form-control input-md" required formControlName="type" type="text">
                                        <small class="form-text text-muted danger" *ngIf="!personalForm.get('type').valid && (personalForm.get('type').dirty || personalForm.get('type').touched)">This field is required!</small>
                                    </div>
									<div class="form-group">
                                        <label class="form-control-label" for="campaign">Maximum Campaign</label>
                                        <input class="form-control input-md" required formControlName="campaign" type="number">
                                        <small class="form-text text-muted danger" *ngIf="!personalForm.get('campaign').valid && (personalForm.get('campaign').dirty || personalForm.get('campaign').touched)">This field is required!</small>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="members">Maximum Members</label>
                                        <input class="form-control input-md" required formControlName="members" type="number">
                                        <small class="form-text text-muted danger" *ngIf="!personalForm.get('members').valid && (personalForm.get('members').dirty || personalForm.get('members').touched)">This field is required!</small>
                                    </div>
                                    <div class="form-group text-center">
                                    	<button type="submit" class="btn btn-danger btn-raised mr-1">Cancel</button>
                                        <button type="submit" class="btn btn-success btn-raised" (click)="saveSubscription()" [disabled]="!personalForm.valid">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
            </div>
        </div>
    </div>
</section>