<section class="basic-elements">
    <div class="row">
        <div class="col-md-6">
            <div class="content-header">Add Fields</div>
        </div>
    </div>
    <div class="row" *ngIf="!showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-12" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="memToggle()"><span class="ft-plus"></span>Add Fields</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <ngx-datatable class="material" class="bootstrap" [rows]="addFieldsDetails" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10">
                                <ngx-datatable-column name="Field Name">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.label}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Field Type">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.datatype}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Mandatory">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      {{row.mandatory}}
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Validation">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.validation}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Action">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <a class="danger p-0" (click)="editFields(row.id);"><i class="fas fa-pencil-alt font-medium-3 mr-2"></i></a>
                                        <a class="Info p-0" (click)="deleteFields(row.id);"><i class="fas fa-trash font-medium-3 mr-2"></i></a>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                <div class="card-block">
                    <form class="form" [formGroup]="fieldForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="label">Field Label</label>
                                    <input type="text" class="form-control" id="label" formControlName="label"  required>
                                    <small class="form-text text-muted danger" *ngIf="!fieldForm.get('label').valid && (fieldForm.get('label').dirty || fieldForm.get('label').touched)">This field is required!</small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="datatype">Field Data Type</label>
                                    <select class="form-control"  id="datatype" formControlName="datatype" required>
                                        <option>Select Data Type</option>
                                        <option>Varchar</option>
                                        <option>Int</option>
                                        <option>DateTime</option>
                                    </select>
                                    <small class="form-text text-muted danger" *ngIf="!fieldForm.get('datatype').valid && (fieldForm.get('datatype').dirty || fieldForm.get('datatype').touched)">This field is required!</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label for="length">Field Value Length</label>
                                <div class="input-group">
                                    <input type="number" min="1" id="length" class="form-control" formControlName="length"  required>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!fieldForm.get('length').valid && (fieldForm.get('length').dirty || fieldForm.get('length').touched)">This field is required!</small>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mandatory">Field Mandatory</label>
                                <div class="input-group">
                                    <ui-switch id="mandatory"  formControlName="mandatory"></ui-switch>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="validation">Field Validation</label>
                            <div class="input-group">
                                <ui-switch id="validation" formControlName="validation" (ngModelChange)="showMsg($event);"></ui-switch>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="showValidationMsg">
                            <label for="validationMsg">Field Validation Message</label>
                            <div class="input-group">
                                <input type="text" id="validationMsg" class="form-control" formControlName="validationMsg"  required>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="(!fieldForm.get('validationMsg').valid && (fieldForm.get('validationMsg').dirty || fieldForm.get('validationMsg').touched))">This field is required!</small>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                            <button type="button" class="btn btn-success btn-raised" (click)="addFields()" [disabled]="!fieldForm.valid" *ngIf="!edit">Submit</button>
                            <button type="button" class="btn btn-success btn-raised" (click)="updateFields()" [disabled]="!fieldForm.valid" *ngIf="edit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
