<!--Registration Page Starts-->
<section id="regestration">
    <div class="card subscription">
        <div class="card-body">
            <div class="card-block">
                <aw-wizard #wizard navBarLayout="large-empty-symbols">
                    <aw-wizard-step [stepTitle]="'Steptitle 1'" [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
                        <form [formGroup]="registerForm" class="editForm" (ngSubmit)="onSubmit()" novalidate>
                            <h4 class="head text-center">Signup</h4>
                            <br/>
                            <div class='row'>
                                <div class='col-12'>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="uname">User Name</label>
                                                <input type="text" class="form-control form-control-lg" formControlName="uname" id="uname" placeholder="User Name">
                                                <small class="form-text text-muted danger" *ngIf="!registerForm.get('uname').valid && (registerForm.get('uname').dirty || registerForm.get('uname').touched)">Username is required!</small>
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="inputPass">Password</label>
                                                <input type="password" class="form-control form-control-lg" formControlName="inputPass" id="inputPass" placeholder="Password">
                                                <small class="form-text text-muted danger" *ngIf="!registerForm.get('inputPass').valid && (registerForm.get('inputPass').dirty || registerForm.get('inputPass').touched)">Password is required!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="fname">First Name</label>
                                                <input type="text" class="form-control form-control-lg" formControlName="fname" id="fname" placeholder="First Name">
                                                <small class="form-text text-muted danger" *ngIf="!registerForm.get('fname').valid && (registerForm.get('fname').dirty || registerForm.get('fname').touched)">Firstname is required!</small>
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="lname">Last Name</label>
                                                <input type="text" class="form-control form-control-lg" formControlName="lname" id="lname" placeholder="Last Name">
                                                <small class="form-text text-muted danger" *ngIf="!registerForm.get('lname').valid && (registerForm.get('lname').dirty || registerForm.get('lname').touched)">Lastname is required!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="inputEmail">Email</label>
                                                <input type="email" class="form-control form-control-lg" formControlName="inputEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email">
                                                <small *ngIf="(f.inputEmail.touched || submitted) && f.inputEmail.errors" class="form-text text-muted danger">
                                                    <small *ngIf="f.inputEmail.errors.required">Email is required</small>
                                                    <small *ngIf="f.inputEmail.errors.pattern">Enter a valid Email address!</small>
                                                </small>
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="phone">Phone</label>
                                                <input type="number" class="form-control form-control-lg" formControlName="phone" placeholder="Phone Number" oninput="if(value.length>10)value=value.slice(0,10)">
                                                <small class="form-text text-muted danger" *ngIf="!registerForm.get('phone').valid && (registerForm.get('phone').dirty || registerForm.get('phone').touched)">Phone is required!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="dob">Date of Birth</label>
                                                <input type="date" class="form-control" formControlName="dob" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
                                                <small class="form-text text-muted danger" *ngIf="!registerForm.get('dob').valid && (registerForm.get('dob').dirty || registerForm.get('dob').touched)">Date of Birth is required!</small>
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="address">Address</label>
                                                <input type="text" class="form-control form-control-lg" formControlName="address" placeholder="Address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
                                                <small class="form-text text-muted danger" *ngIf="!registerForm.get('address').valid && (registerForm.get('address').dirty || registerForm.get('address').touched)">Address is required!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="role">Role</label>
                                                <select class="form-control" id="role" formControlName="role">
                                                    <option disabled="true">Select Role</option>
                                                    <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                                                </select>
                                                <small class="form-text text-muted danger" *ngIf="!registerForm.get('role').valid && (registerForm.get('role').dirty || registerForm.get('role').touched)">Please select your role.</small>
                                            </div>
                                        </div>
                                        <div class='col-12 col-sm-6'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="organization">Organization</label>
                                                <select class="form-control" id="organization" formControlName="organization">
                                                    <option disabled="true">Select Organization</option>
                                                    <option *ngFor="let organization of organizations" value="{{organization.id}}">{{organization.name}}</option>
                                                </select>
                                                <small class="form-text text-muted danger" *ngIf="!registerForm.get('organization').valid && (registerForm.get('organization').dirty || registerForm.get('organization').touched)">Organization is required!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Gender</label>
                                            <label class="checkbox-inline">
                                                <input type="radio" formControlName="genderRadios" id="genderRadios1" value="Female"> Female&nbsp;&nbsp;
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="radio" formControlName="genderRadios" id="genderRadios2" value="Male" checked> Male&nbsp;&nbsp;
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group text-center">
                                        <button type="button" uiSref="work" class="btn btn-info btn-raised" [disabled]="!registerForm.valid" awNextStep>
                                            Next
                                            <span style="margin-left:10px;">
                                                <i class="ft-chevron-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </aw-wizard-step>
                    <aw-wizard-step  [stepTitle]="'Steptitle 2'" [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }">
                        <form class="editForm" novalidate>
                            <h4 class="head text-center">Create an account by selecting any one of our subscription packages.</h4>
                            <br/>
                            <div class="row" style="position: relative;bottom: 15px;transform: translate(12%,0%);">
                                <div class="col-xl-3 col-12" *ngFor="let list of subscriptionList">
                                  <div class="card list gradient-mint">
                                    <div class="card-body text-center">
                                      <div class="px-3 py-3">
                                        <div class="media text-center">
                                          <div class="media-body text-center">
                                            <h3>{{list.type}}</h3>
                                            <span>Campaign - {{list.campaign}}</span><br />
                                            <span>Members - {{list.members}}</span><br />
                                            <span>{{list.validity}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="inputGroup subscription" (click)="getId(list.id,list.type)">
                                        <input [id]="list.id" name="radio" type="radio"/>
                                        <label for="radio1">Buy</label>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="form-group text-center space-20">
                                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                                    <span style="margin-right:10px;">
                                        <i class="ft-chevron-left"></i>
                                    </span> Previous</button>
                                <button uiSref="address" type="submit" class="btn btn-raised btn-info" [disabled]="!subscribed" (click)="onSubmit()">
                                    Register
                                    <span style="margin-left:10px;">
                                        <i class="ft-chevron-right"></i>
                                    </span>
                                </button>
                            </div>
                        </form>                        
                    </aw-wizard-step>
                </aw-wizard>
            </div>
        </div>
        <div class="card-footer grey darken-1">
            <div class="text-center">Already have an account? <a (click)="onLogin()"><b>LogIn</b></a></div>
        </div>
    </div>
</section>
<!--Registration Page Ends-->