<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Chart Configurations</div>
  </div>
</div>

<section id="collapse">
  <div class="row">
    <div class="col-12">
      <div class="content-header">Add Chart</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <div>
              <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              Add Chart
              </button>
            </div>
            <div id="collapseExample" [ngbCollapse]="isCollapsed" *ngIf="chartsCount < 8 || (chartsCount == 8 && (chartId > 0))">
              <form class="form" [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Chart Name</label>
                        <input type="text" name="name" required formControlName="name" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Chart Type</label>
                        <select name="chartType" required formControlName="chartType" class="form-control">
                          <option value="line">Line Chart</option>
                          <option value="bar">Bar Chart</option>
                          <option value="pie">Pie Chart</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Select Data</label>
                        <select name="data" required formControlName="data" class="form-control" (change)="selectColumn($event.target.value, $event);">
                          <option value="users">User</option>
                          <option value="newsletter">Newsletter</option>
                          <option value="loyalty">Loyalty</option>
                          <option value="membership_plans">Memberships</option>
                        </select>
                      </div>
                      <div class="form-group" *ngIf="userData">
                        <label>Set X Axsis Data</label>
                        <select name="xdata" required formControlName="xdata" class="form-control">
                          <!-- <option *ngFor="let column of columns" value="column.name">{{column.name}}</option> -->
                          <option value="date">Date</option>
                          <option value="month">Month</option>
                          <option value="year">Year</option>
                        </select>
                      </div>
                      <div class="form-group" *ngIf="userData">
                        <label>Select Date Range</label>
                        <select name="daterange" required formControlName="daterange" class="form-control">
                          <option value="1">Last one week</option>
                          <option value="15">Last 15 days</option>
                          <option value="30">Last 30 days</option>
                          <option value="60">Last 60 days</option>
                          <option value="90">Last 90 days</option>
                          <option value="180">Last 180 days</option>
                          <option value="365">Last 365 days</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label *ngIf="userData">Y Axsis Data</label>
                        <label *ngIf="!userData">Choose {{valueName}}</label>
                        <select class="form-control" name="columns" required formControlName="columns" *ngIf="!memLoyVal">
                          <option value="" selected>Select Column</option>
                          <option *ngFor="let column of columns" value="{{column.fieldName}}">{{column.title}}</option>
                        </select>
                        <select class="form-control" name="columns" required formControlName="columns" *ngIf="memLoyVal" (change)="getstatscolumns($event.target.value)">
                          <option value="" selected>Select {{valueName}}</option>
                          <option value="all">All {{valueName}}</option>
                          <option *ngFor="let column of columns" value="{{column.id}}">{{column.title}}</option>
                        </select>
                      </div>
                      <div class="form-group" *ngIf="newsletter">
                        <label>Choose Newsletter Fields</label>
                        <select class="form-control" name="newscolumns" required formControlName="newscolumns" (change)="newsletterSelectedColumn = $event.target.options[$event.target.options.selectedIndex].text">
                          <option value="" selected>Select Column</option>
                          <option *ngFor="let column of newsletterColumns" value="{{column.id}}">{{column.title}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>X-Axsis Label</label>
                        <input type="text" name="xaxsis" required formControlName="xaxsis" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Y-Axsis Label</label>
                        <input type="text" name="yaxsis" required formControlName="yaxsis" class="form-control">
                        <!-- <select id="yaxsis" name="yaxsis" class="form-control">
                        <option *ngFor="let column of columns" value="column.name">{{column.name}}</option>
                        </select> -->
                      </div>
                      <div class="form-group">
                        <label class="form-text text-muted danger" *ngIf="(!regularForm.get('name').valid && (regularForm.get('name').dirty || regularForm.get('name').touched)) || (!regularForm.get('chartType').valid && (regularForm.get('chartType').dirty || regularForm.get('chartType').touched)) ||  (!regularForm.get('data').valid && (regularForm.get('data').dirty || regularForm.get('data').touched)) ||   (!regularForm.get('xdata').valid && (regularForm.get('xdata').dirty || regularForm.get('xdata').touched)) ||    (!regularForm.get('daterange').valid && (regularForm.get('daterange').dirty || regularForm.get('daterange').touched)) ||     (!regularForm.get('columns').valid && (regularForm.get('columns').dirty || regularForm.get('columns').touched)) ||      (!regularForm.get('newscolumns').valid && (regularForm.get('newscolumns').dirty || regularForm.get('newscolumns').touched)) ||       (!regularForm.get('xaxsis').valid && (regularForm.get('xaxsis').dirty || regularForm.get('xaxsis').touched)) ||        (!regularForm.get('yaxsis').valid && (regularForm.get('yaxsis').dirty || regularForm.get('yaxsis').touched))"> Make sure you have entered/selected all values. </label>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                        <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid" *ngIf="chartId == 0">Generate Chart</button>
                        <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid" *ngIf="chartId > 0">Update Chart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div id="collapseExample" [ngbCollapse]="isCollapsed" *ngIf="chartsCount == 8 && chartId == 0">
              <label>You have reached the maximum creation of charts.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="collapse">
  <div class="row">
    <div class="col-12">
      <div class="content-header">Dashboard Charts</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <!-- <ngx-datatable class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="tblcolumns" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
            </ngx-datatable> -->
            <table class="table table-responsive-md">
                <thead>
                  <tr>
                    <th>Chart name</th>
                    <th>Chart Type</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let chart of charts">
                    <td>{{chart.Name}}</td>
                    <td>{{chart.chartType}}</td>
                    <td>
                      <a class="success p-0" data-original-title="" title="" (click)="editChart(chart.id)">
                          <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                      </a>
                      <a class="danger p-0" data-original-title="" title="" (click)="deleteChart(chart.id)">
                          <i class="fas fa-trash font-medium-3 mr-2"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
