<section class="basic-elements">
    <div class="row">
        <div class="col-md-6">
            <div class="content-header">Membership</div>
        </div>
    </div>
    <div class="row" *ngIf="!showMembership">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Membership</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="memToggle()"><span class="ft-plus"></span>Add Membership</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <!-- <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                            </ngx-datatable> -->
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Membership Name</th>
                                        <th>Price</th>
                                        <th>Duration</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of members | paginate: { itemsPerPage: 5, currentPage: p }">
                                        <td>{{data.plans}}</td>
                                        <td>{{data.price}}</td>
                                        <td>{{data.terms}}  {{data.durationIn}}</td>
                                        <td>
                                            <a class="success p-0" data-original-title="" title="" (click)="editmembership(data.id)">
                                                <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title="" (click)="deletemembership(data.id)">
                                                <i class="fas fa-trash font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-12 paginationonAction">
                                <span class="total">{{collectionSize}} Total</span>
                                <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showMembership">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                <div class="card-block">
                    <form [formGroup]="membershipForm" novalidate>
                        <div class="form-group">
                            <label for="membershipName">Membership Name</label>
                            <input type="text" class="form-control" id="membershipName" formControlName="membershipName" required>
                            <small class="form-text text-muted danger" *ngIf="!membershipForm.get('membershipName').valid && (membershipForm.get('membershipName').dirty || membershipForm.get('membershipName').touched)">This field is required!</small>
                        </div>
                        <div class="row" *ngIf="!memShowLogo">
                          <div class="col-sm-8">
                            <div class="form-group">
                                <div class="custom-file center-block d-block">
                                  <input type="file" class="custom-file-input" id="membershipIcon" formControlName="membershipIcon" (change)="uploadmembershipIcon($event.target.files)">
                                  <label class="custom-file-label" for="membershipIcon" #membershipIconLabel>Choose file</label>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group" *ngIf="!memShowLogo && memLogo != ''">
                                <button type="button" class="btn btn-danger btn-raised mr-1" (click)="memShowLogo = !memShowLogo">Cancel</button>
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="memShowLogo">
                          <div class="col-sm-8">
                            <div class="form-group">
                              <img src="{{memLogo}}" />
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger btn-raised mr-1" (click)="memShowLogo = !memShowLogo">Change Logo</button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="textArea">Description</label>
                            <textarea class="form-control" rows="3" id="textArea" formControlName="textArea" required></textarea>
                            <small class="form-text text-muted danger" *ngIf="!membershipForm.get('textArea').valid && (membershipForm.get('textArea').dirty || membershipForm.get('textArea').touched)">This field is required!</small>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label for="duration">Duration</label>
                                <div class="input-group">
                                    <input type="number" id="duration" class="form-control" formControlName="duration" required>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!membershipForm.get('duration').valid && (membershipForm.get('duration').dirty || membershipForm.get('duration').touched)">This field is required!</small>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label for="durationIn">Membership Period</label>
                                <div class="input-group">
                                  <select id="durationIn" class="form-control" formControlName="durationIn" required [value]='selectval'>
                                    <option value="">Select</option>
                                    <option value="days">Days</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                  </select>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!membershipForm.get('durationIn').valid && (membershipForm.get('durationIn').dirty || membershipForm.get('durationIn').touched)">This field is required!</small>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="price" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="!membershipForm.get('price').valid && (membershipForm.get('price').dirty || membershipForm.get('price').touched)">This field is required!</small>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                            <button type="button" class="btn btn-success btn-raised" (click)="addMembership()" [disabled]="!membershipForm.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
